.password__generator{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
   background-color: #41B3A3;
    margin-left: 480px;
    margin-right: 300px;
    margin-top: 70px;
    color: white;
    padding: 10px;
}
.password__header{
    margin: 0;
}
.password__screen{
   margin: 0;
   position: relative;
   width: 360px;
   background-color:#C38D9E;
   border-radius: 10px;
   box-shadow: black 2px 2px 2px;
}
.password__showPlace{
    width: 300px;
    height: 40px;
    background-color:#E27D60; 
    margin: 20px;
    margin-right: 0;
    text-align: center;
    padding-top: 5px;
    box-shadow: inset rgb(172, 126, 126) 2px 2px 2px;
    border-radius: 10px;
}
.copy__btn{
    position: absolute;
    right: 5px;
    top: 30px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    cursor: pointer;
    background-color: cadetblue;
    border: none;
}

.characterList{
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    width: 350px;
    background-color:#85DCB0;
    border-radius: 5px;
    box-shadow: black 2px 2px 2px;
}
#password-stregth,#numberId,#lowerCaseId,#upperCaseId,#symbolId{
    margin-left: 20px;
    border-radius: 5px;
    padding: 2px;

}

.characterList__numbers,
.characterList__lowerCaseLetters,
.characterList__upperCaseLetters,
.characterList__specialCharacters{
    text-align:left;
}

.generate__password{
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: black 2px 2px 2px;
    border-radius: 20px;
}